<!DOCTYPE html>
<html>
  <head>
    <title>枝网查重</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"
      id="viewport"
      name="viewport"
    />
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/css/m_main.css" rel="stylesheet" />
    <script src="static/js/vue.js"></script>
    <script src="static/js/axios.min.js"></script>
  </head>
  <body>
    <div id="title">
      <h1>枝网查重系统</h1>
    </div>
    <div id="main_form">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">小作文</h3>
        </div>
        <div class="panel-body">
          <textarea
            class="form-control"
            rows="10"
            placeholder="内容字数不少于10个字，不多于1000字。输入信息后，点击下方「提交小作文」进行查重 !"
            v-model="text"
          ></textarea>
          <div id="agree_check">
            <input
              type="checkbox"
              v-model="agree_check"
              @click="agree_check_click"
            />
            我已同意<a href="/protocol" target="_blank"
              >《枝网查重平台用户协议》</a
            >
          </div>
        </div>
      </div>
      <div id="submit_btn_div">
        <div
          type="button"
          :class="button_class"
          @click="button_click"
          id="submit_btn"
        >
          {{button_content}}
        </div>
      </div>
    </div>
    <div class="panel panel-default" id="introduction">
      <div class="panel-heading">
        <h3 class="panel-title">枝网查重系统介绍</h3>
      </div>
      <div class="panel-body">
        <p><b>比对库范围：</b><br />b站动态、视频评论区</p>
        <p>
          <b>检测算法：</b><br />
          [1]李旭.基于串匹配方法的文档复制检测系统研究[D]. 燕山大学.
        </p>
        <p><b>检测语种：</b><br />中文、英文、emoji</p>
        <span><b>预计耗时：</b><br />1秒</span>
      </div>
    </div>
    <ul class="list-group" id="asoul_link">
      <a
        class="list-group-item"
        :href="person.href"
        target="_blank"
        v-for="person in person_list"
        >{{person.name}}</a
      >
    </ul>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script
      src="static/js/m_index.js"
      charset="utf-8"
      type="text/javascript"
    ></script>
  </body>
</html>
